---
layout: default
title: hci capstone
---
.container
	.main.seven-tenths.column
		h1 hci capstone | playpower labs

		h3 Our client, Playpower Labs was open-minded with what the project could be. He gave us some research
			| contacts at a charter school, Propel Braddock. After some interview sessions with teachers, it became clear that Playpower
			| offered an educational game for their students, they wanted a tool specifically for teachers.

		p The format of the HCI capstone allows for a lengthy ethnography portion.
			| Over the course of the semester we talked to 15 different teachers, often more than once.
			| It was up to the team to decide how we wanted to go about research. The methods that we ended up using include:
		ul.text-list
			li
				h5 competitive analysis and literature review
				p There's a lot of work out there already about games, education.
					| It would have been silly to ignore the body of work existing.
					| Our client had a lot of recommendations of competitors to look at.
					| One of the course advisors has devoted his life to
					| educational research. He recommended several cannonical works to read.
				figure
					img(src='../public/hci_competitive.png', width='652px', height='355px')
					figcaption A clippping of a competitive analysis we made
			li
				h5 surveys
				p We created a survey and then reached out to our network to find teachers to take the survey.
					| We also tried using twitter and getting education accounts to retweet
					| the survey. The survey was a less sucessful method because we did
					| not have the time to let the survey sit and the budget to encourage people to take it.
			li
				h5 observation
				p Through our contacts, we ended up observing a teacher manage a flipped classroom.
					| Recording was out of the question but we had two people take notes. Extremely informative
					| on how a teacher would manage a classroom and use technology.

			li
				h5 interviewing
				p Quantitative die hards might look down on interviewing. We prepared a field guide of questions and a consent form.
					| We took two people to interviews. One asked questions and the other would take notes.
					| These interviews were recorded and then transcribed.

			li
				h5 participatory design
				p We created a kit of supplies, including markers, paper, transparency, tape, and printed out widgets.
					| People were drawn to using the transparency. It's easy to trace as well as quickly erase and start over.
					| This method worked well with participants who were comfortable with the concept.
					| Some people do not believe in asking their users directly what they want. I wouldn't quickly dismiss this method though.
					| Users may not know what they want, but this is another way for the user to express their goals and problems.
				figure
					img(src='../public/hci_teacher.JPG', width='672px', height='504px')
					figcaption My teammate Gina Smith watching as a teacher tries to show us his ideal tool by drawing.
			li
				h5 modeling
				p The course advisors strongly encouraged&nbsp;
					a(href='http://en.wikipedia.org/wiki/Contextual_design#Interpretation') Karen Holzblatt style models
					| . In my opinion, they are more of an exercise than something that will effectively show information to someone outside of HCI.
				| For an example, the cultural map quickly reminded us that the education system has a lot of influencers beyond just teachers.
				figure
					img(src='../public/hci_cultural.jpg', width='652px', height='574px')
					figcaption In the age of common core, administrators play add another layer of pressure

		p After synthesizing our research. We started to sketch out what our solution should look like.
			| We organized those ideas into wireframes which we showed to some of our teachers.

		p Here are some final screens that we showed to our client. The timeframe didn't
			| allow us to flesh out designs that could be actually used by our client. However, it appears that
			| our research has made an impact on our client because the newest
			| version of Playpower includes student tracking.

		img(src='../public/hci_ui.png', width='672px', height='591px')
		img(src='../public/hci_ui2.png', width='672px', height='581px')

	.sidebar.four.columns
		.details
			h6 collaborators:
			p Neha Rathi, Zach Betka, Gina Smith
			h6 advisors:
			p Jenna Date (faculty), Derek Lomas (client)
			h6 timeframe:
			p Semester long course
			h6 deliverables:
			p Presentation, prototype, report
			h6 self critiques:
			p I'm pretty happy with the research phase. The only thing that didn't garner anything interesting was the survey.
			p We tried too hard to draw visual inspiration from the game, in the end they are very different products with very different users.

