---
layout: default
title: notebook
---
.container
	.main.seven-tenths.column
		h1 notebook | random visuals

		h3 One of my interests is representings things in diagrams and charts. They are great tools for explaination as well as checking for consensus.
		p For the pancake venn, I was inspired by Hugh Dubberly's concept maps.
			| With a venn diagram, I attempt to show the differences and similarities between box, scratch, frozen, and restaurant pancakes.
			| Some of the similarities were surprising.
		figure
			img.border(src='../public/diagrams_pancakes.png', width='672px', height='870px')
		p I made this to demonstrate how confusing and iconsistent a navigation system was.
		figure
			img.border(src='../public/diagrams_flow.png', width='672px', height='589px')
		p For a mapping project, I recorded by music habits for a week via last.fm.
			| And then played around with the data.
		figure
			img.border(src='../public/diagrams_music.png', width='672px', height='870px')
		p Made this for fun as an attempt to explain binary.
		figure
			img.border(src='../public/diagrams_binary.png', width='672px', height='635px')



