---
layout: default
title: ubinosh
---
.container
	.main.seven-tenths.column
		h1 basic interaction design & bosh | ubinosh
		h3 The goal of this project was to create a smart (ubiqutous computing) experience on campus.
		p Our primer was a few ubicomp videos such as the &nbsp;
			a(href='https://www.youtube.com/watch?v=a6cNdhOKwi0') Microsoft vision for the future
			| &nbsp;video and the&nbsp;
			a(href='https://www.youtube.com/watch?v=6Cf7IL_eZ38') Corning day of glass
			| &nbsp;video. We were told for this project to not think about implementation.
		p We then were expected to pick a space on campus.
			| Ultimately, we ended up chosing the cafe area in the Gates Hillman Center.
			| We noticed that people in the cafe area Gates Hillman were not just using the space
			| for eating but also for doing work and conducting meetings.
			| At least one class took advantage of the multitude of power outlets and held office hours.
		p After spending some time in the space, the team sat down and brainstormed ideas.
			| We then whittled the ideas down to 8 that we split up. Each person storyboarded a concept.
			figure
				img(src='../public/ubi-process1.jpg', width='700px', height='200')
				figcaption storyboard about customizing tables/spaces
			figure
				img(src='../public/ubi-process2.jpg', width='700px', height='200')
				figcaption storyboard about ordering food
		p We then intercepted people in our space and asked them what they thought about our concepts.
			| One thing that we heard repeatedly was a resistances to things that would make the experience
			| at the cafe more expedient for the fear of an impersonal experience.
		p This project unlike the HCI project spent less time with research and more time ideating.
			| After rounds of sketching we came up with our final solution:
		ul
			li a board in which you can interact with
			li a food case that was interactive
			li an app to find cafes, and interact with
		figure
			img(src='../public/bid_board.jpg', width='700px', height='442')
			figcaption
		figure
			img(src='../public/bid_case.jpg', width='700px', height='442')
			figcaption
		figure
			img(src='../public/ubinosh-board.jpg', width='700px', height='442')
			figcaption
		figure
			img(src='../public/ubinosh-mobile.jpg', width='700px', height='442')
			figcaption
		figure
			img(src='../public/ubinosh-touch.jpg', width='700px', height='442')
	.sidebar.four.columns
		.details
			h6 collaborators:
			p Maggie Bignell
			p Gabrielle Williams
			p Sun Park
			h6 advisors:
			p Peter Scupelli (faculty)
			p Elizabeth Latronico (bosch)
			h6 timeframe:
			p a few weeks
			h6 deliverable:
			p Presentations, video
			h6 self critiques:
			p More gamificatione elements, feels too much like an art piece and not much of a value propositiont
