---
layout: default
title: hubub
---
.container
	.main.seven-tenths.column
		h1 hubub | personal project

		h3 Hubub is an in-progress personal project of mine. I've been wanting to spread knowledge about interactive prototypes.
			| I started building out a set of wireframes for a fictional
			| party service to use as the base for these prototypes.
			| The first blog post can be found&nbsp;
			a(href='http://blog.diandianxiao.com/post/102258108617/interactive-prototypes-with-justinmind-using-variables') over on my blog.
		img.border.margin-b10(src='../public/hubub/hubub_dash.png', width='700px', height='652px')
		img.border.margin-b10(src='../public/hubub/hubub_event.png', width='700px', height='795px')
		img.border.margin-b10(src='../public/hubub/hubub_marketing.png', width='700px', height='652px')
		img.border.margin-b10(src='../public/hubub/hubub_signup.png', width='700px', height='652px')


