---
layout: default
---
.container
  .main.seven-tenths.column
    h2 personal

    img(src='../public/dian_bigsur.jpg' width='700px', height='525px')

    p I currently live in San Francisco. I spend my free time biking around the city and up to Marin. I also practice calligraphy, play board games, and swim at the UCSF mission bay pool.
        | I have a small obsession with stripes...and the color Aqua Sky (Pantone 14-4811).

    h2 character

    p I’m introspective and empathetic. I typically take time at the end of day to evaluate the successes and failures of my interactions with other people. I also spend time trying to imagine myself in other people’s positions.

    p I’m a strong believer in personal growth.

    p I'm extroverted but can be a good listener as well.

    h2 background

    p I attended Carnegie Mellon University and received a Bachelors Science in Information Systems with an
        | additional major in Human-Computer Interaction
        | and a minor in Communication Design.
        | I was two classes short from the CS minor, but hey you can't collect them all.

    p In college, I had a huge breadth of learning experiences from writing a proxy in C to hand-crafting a hard-bound book.

    p I’m good at learning new software/tools.

    p My first exposure to web design was messing with layouts on Neopets when I was in 5th grade.
