---
layout: default
title: resume
---
.container
	.main.seven-tenths.column
		h2 work experience
		h3 Design Engineer at Versal
		p May 2013 – Present &#8226; San Francisco, CA
		p Highlights include:
		ul
			li Researched, wireframed, designed, and implemented returning visitor dashboard for Versal.com
			li Redesigned signup for Versal for Organizations, which led to a 40% increase in completion rates
			li Created clickable prototypes for both user testing and presentations
			li Helped create a competitive analysis matrix for asset uploading, synthesized findings into actionable recommendations
		h3 Research Assistant, Human-Computer Interaction Institute
		p March 2013 – May 2013 &#8226; Carnegie Mellon University, Pittsburgh, PA
		ul
			li Transcribed and coded interview data from peer-to-peer teaching investigation
			li Categorized phrases that a virtual peer would say to a live student for experiments
			li Helped design the "wizard of oz" interface that the experimenter used to control the virtual peer
		h3 Interaction Design Intern, Bloodhound
		p May 2012 – August 2012 &#8226; San Francisco, CA
		ul
			li Sketched and wireframed web and mobile interfaces for the new website
			li Designed and implemented marketing materials for web, email, and print
			li Observed and field studied potential users at four trade shows and events
			li Interviewed potential users and organized their feedback
		h3 Resident Assistant, Student Life Office
		p Academic Years 2010-11, 2011-12 &#8226; Carnegie Mellon University, Pittsburgh, PA
		ul
			li Served as an educator, community role model, administrator, and leader for 20-45 residents in a dormitory
			li Focused on developing meaningful and engaging relationships with residents
		h2 Education
		h3 Carnegie Mellon University
		p May 2013 &#8226; Pittsburgh, PA
		p Bachelors of Science, Information Systems
			br
			| Additional Major in Human-Computer Interaction
			br
			| Minor in Communication Design
			br
			| Senior Leadership Award
	.resume-skills.four.columns
		h2 skills
		h3 technical
		p JavaScript/Java/Ruby/C
		p Node.js/Backbone/Underscore/Rails
		p HTML/CSS/Jade/Stylus
		p Unix/Git
		h3 design
		p Illustrator/Photoshop/InDesign
		p OmniGraffle/Sketch
		p Axure/Justinmind/UXPin
		h3 methods
		p Ethnography/Interviewing
		p User testing/Rapid prototyping
		p Conceptual modeling



