---
layout: default
title: Dian Xiao
---
.homepage
  .container
    .row
      .sixteen.columns
        h3.headline I'm a designer with technical skills. I care about how ideas and data transform into live features.
  .container
    .row
      .eight.columns
        a.card.versal(href='/versal/')
          .card-details
            .text
              h3 Versal
              p.desc Versal is an education platform for creating interactive courses. I help out with design and coding.

      .eight.columns
        a.card.capstone(href='/capstone')
          .card-details
            .text
              h3 hci capstone
              p.desc Playpower Labs was the client for my HCI capstone project.
                | I worked with a few other students on researching and designing a teacher experience to augment Playpower's educational games.

    .row
      .eight.columns
        a.card.map(href='/map/')
          .card-details
            .text
              h3 marauder's map
              p Marauder's map was open ended web app project with requirements to use node.js and html5 canvas

      .eight.columns
        a.card.diagram(href='/notebook')
          .card-details
            .text
              h3 notebook
              p.desc I'm a fan of diagramming. Here are some assorted works of maps and diagrams.

    .row
      .eight.columns
        a.card.hubub(href='/hubub')
          .card-details
            .text
              h3 hubub
              p.desc Hubub is a fictional app that I created for demonstrating prototyping software

      .eight.columns
        a.card.ubinosh(href='/bid')
          .card-details
            .text
              h3 ubinosh
              p.desc Ubinosh was a smart cafe experience project for my IxDesign class.
                | The course sponsor, Bosch wanted the focus to be on ubiquitous college campus experience.


