---
layout: default
title: dian at versal
---
.container
	.main.seven-tenths.column
		h1 versal | design + engineering

		p I joined&nbsp;
			a(href='http://versal.com') Versal
			| &nbsp;post-college. Some highlights include:
		h4 design
		ul
			li Redesigned signing up for organizations, which led to an increase 40% in completion rates
			li Designed landing pages for marketing
			li Convinced the marketing team that having a specialized experience for signed users was important
			li Helped create prototypes for user testing
			li Designed the collaborative commenting experience
		h4 engineering
		ul
			li Committed over 20000 lines of code
			li Helped build up a web style guide
			li Learned Backbone/React
		figure
			img(src='../public/versal_dashboard.png', width='700px', height='612px')
			figcaption
				| Added a list of courses, convinced marketing the value of non-static
				| information for returning visitors.
		br
		figure
			img(src='../public/versal_yt.png', width='700px', height='1120px')
			figcaption A campaign landing page that we targeted the YouTube/vloggers with

